body{font-family: "Montserrat";}



#title{background-color:#ff4c68;
color:#fff;}


.container-fluid{padding: 3% 15%;}

.navbar-brand{
font-size: 2.7rem;


}
.navbar{padding: 0 0 4.5rem}
.nav-item{padding: 0 15px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: bold;}
.nav-link{font-size: 1.2rem;

font-weight: bold;
 font-family: "Montserrat-black";}


.download-button{margin: 5% 3% 5% 0; }

.title-image{width: 55%;
transform:rotate(5deg);
border-radius: 10%;
position:absolute;
right: 20%;}

#features{padding: 7% 15%;}
.feature-box{text-align: center;
position: relative;
z-index: 1;}

p{color: #8f8f8f;
font-size: 1.5rem;}
h1{font-family: "Montserrat-black";
font-size: 3.5rem;
line-height: 1.5;
font-weight: bold;
}

h2{font-family: "Montserrat-Bold";
font-size:3rem ;
line-height: 1.5;

}

h3{  font-family: 'Montserrat', sans-serif;
 font-weight: bold;}
.icon{color: #ef8172;
margin: 1rem;}
.icon:hover{color: #ff4c68;}



/*testimonial**/

#testimonials{padding: 7% 15%;

text-align: center;
background-color: #ef8172;
color: #fff;}

.testimonial-image{
width:15%;
border-radius: 50%;
margin: 30px;
}
.press-logo{width:10%;
margin:20px 20px;}

#press{text-align: center;
background-color: #ef8172;}
.carousel-item{margin:20px 20px;
padding: 7% 15%;}

#pricing{
text-align: center;}

@media (max-width:1028px){
#title{text-align: center;}
.title-image{
position: static;
transform:rotate(0);
}
}

.img-5{background-color: 	#ff4c68;
text-align: center;
font-weight: bold;

padding: 7% 15%;

line-height: 2;
}

.container-md{margin:20px 20px;
padding: 7% 15%;}


.ins{text-align: center;
  padding: 7% 15%;

  line-height: 2;}
  h4{color: #8f8f8f;
  font-size: 1rem;}

.social-icon{margin: 20px 10px;}
